* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header h1 {
    color: #ffffff;
    padding: 5px 35px;
    border-radius: 50%;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header,
header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    list-style: none;

}

header {
    position: fixed;
    width: 100%;
}

header ul li {
    margin: 0px 10px;
}

header ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 22px;

}

header h2 a {
    text-decoration: none;
    color: white;
}

header h2 a span {
    padding: 15px 20px;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    box-shadow: 0px 0px 8px 2px rgb(183, 181, 181);
}

.container {
    width: 100%;
    background: #ADA996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-color: azure;
}

.image {
    height: 100vh;
   
}


.products {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    width: 22%;
    text-align: center;
    padding: 15px;
    height: 550px;
    box-shadow: 0 0 5px 2px gray;
    background-color: white;
    margin: 20px;
    border-radius: 4px;
    transition: all 0.5s ease;
}

.product:hover {
    transform: scale(1.05);
}

.product h1 {
    font-size: 27px;
    text-align: center;
}

.product p {
    text-align: justify;
    margin-bottom: 18px;
}

.product .rating {
    text-align: center;
}

.product a {
    text-decoration: none;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    box-shadow: 0 0 4px 1px gray;
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 26px;
    transition: all 0.5s ease;
}

.product a:hover {
    transform: scale(1.06);
    background: #221f1f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #060505, #535252);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #201f1f, #6a6969);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.product img {
    width: 100%;
    background-color: azure;
    height: 60%;
}

.carts {
    background: #ADA996;
    width: 100%;
    
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cart {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.cart .cartitems {
    display: flex;
    background-color: white;
    border-radius: 4px;
    margin: 10px 0;
    box-shadow: 0 0 10px 1px rgb(66, 66, 66);
    width: 80%;
    align-items: center;
    padding: 20px 0;
    justify-content: center;
}

.cart .cartitems .left {
    width: 45%;
}

.cart .cartitems .right {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: justify;
}
.cart .cartitems .right h1{
    font-size: 40px;
}

.cart .cartitems .right h1,
.cart .cartitems .right h2,
.cart .cartitems .right h3 span ,
.cart .cartitems .right a,
.cart .cartitems .right p
 {
    margin: 10px 0;
}

.cart .cartitems .right h2 {
    font-size: 27px;
}

.cart .cartitems .right h3 span {
    margin: 0px 20px;
    font-size: 25px;
}

.cart .cartitems .right a {
    text-decoration: none;
    font-size: 25px;
    background-color: #201f1f;
    color: white;
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5px 20px;
}

.cart .cartitems .right a:hover {
    background-color: #060505;
    color: #ffffff;

}

.cart .cartitems .left p {
    margin-bottom: 30px;
}

.cart .cartitems .left img {
    width: 90%;

}